html {
    height: 100%;
    width: 100%;
  }

  body {
    background-image: url('https://media.giphy.com/media/wpVM8uZMwThC0/giphy.gif');
    background-size: cover;
    margin-left: 40px;
    height: 100vh;
}

  ul {
    background-color: #000;
    z-index: 1000; 
  }

  .sidebar-wrap {
    width: 60px;
    height: 100vh;
    background-color: #000;
    color: #fff;
    padding: 10px;
    transition: 0.8s;
  }
  .sidebar-wrap:hover {
    width: 180px;
  }
  .sidebar-wrap:hover .logo-wrap span {
    display: flex;
  }
  .sidebar-wrap:hover .nav li .nav-link span {
    display: flex;
  }
  .sidebar-wrap:hover .dropdown-wrap strong {
    display: flex;
  }
  .sidebar-wrap .logo-wrap {
    color: #fff;
    font-size: 35px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .sidebar-wrap .logo-wrap span {
    font-size: 18px;
  }
  .sidebar-wrap .logo-wrap .icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    min-width: 40px;
  }
  .sidebar-wrap .nav {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    flex-wrap: nowrap;
  }
  .sidebar-wrap .nav::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #f5f5f5;
  }
  .sidebar-wrap .nav::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f5;
    border-radius: 5px;
  }
  .sidebar-wrap .nav::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #9b9b9b;
  }
  .sidebar-wrap .nav li {
    margin-top: 5px;
  }
  .sidebar-wrap .nav li .nav-link {
    color: #fff;
    padding: 0;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .sidebar-wrap .nav li .nav-link .icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    min-width: 40px;
  }
  .sidebar-wrap .nav li .nav-link span {
    font-size: 16px;
  }
  .sidebar-wrap .nav li .nav-link.active {
    background-color: #000000;
  }
  .sidebar-wrap .nav li .nav-link:hover {
    background-color: #ffa200;
  }


   #SearchDrink {
    position: absolute;
    top: 0%;
    right: 0; 
    width: calc(100% - 190px); 
    text-align: right;
    font-size: 20px;
    color: #000000;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: right;
  }
  
  #searchInput {
    border-radius: 20px;
    border: inset 3px #ffa200;
  }
  
  #searchButton {
    color: #ffa200;
    border-radius: 25px;
    border: inset 3px #ffa200;
  }
  
  #searchResults {
    border-radius: 10px;
    color: white;
    font-weight: bolder;
    text-align: center;
    background-color: black;
    right: 0;
    width: 300px; 
    max-height: 400px; 
    overflow-y: auto;
    border: 1px solid transparent;
    margin: 10px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute; 
  }
  
  #searchResults::-webkit-scrollbar-track {
    background-color: transparent;
  }
  #searchResults::-webkit-scrollbar-thumb {
    background-color: #ffa200; 
    border-radius: 10px; 
  }
  #searchResults::-webkit-scrollbar {
    position: absolute; 
    margin-right: 0px;
    left: 10px;
    top: 0; 
    height: 100%; 
    width: 10px; 
  }